<div class="Container">
    <nav>
        <img class="Logo" to="/" src="../../assets/header/logo.png" alt="logo" />
        <div class="NavMenu">
                <span class="NavLink" href="#projects" smooth={true}>
                    <p class="menu-item">Trabajos</p>
                </span>
                <span class="NavLink" href="#about" smooth={true}>
                    <p class="menu-item">Sobre Mi</p>
                </span>
                <span class="NavLink" href="#contact" smooth={true}>
                    <p class="menu-item">Contacto</p>
                </span>
        </div>
        <div class="NavBtn">
            <a class="btn PrimaryBtn" href="https://www.drcsonido.es" target="_blank" rel="noopener noreferrer">
                Ir a mi Web
            </a>
        </div>
    </nav>
</div>