<div class="HeroContainer">
    <div class="HeroWrapper">
        <div class="HeroLeft">
            <h1>Hola,<br>soy Carlos de la Cruz</h1>
            <h5>Full-Stack Developer</h5>
            <h5>y Técnico de Audiovisuales.</h5>
            <p>
                Amante de la fotografía y los deportes de montaña.
            </p>
        </div>
        <div class="HeroRight">
            <img class="imgPerfil" src="../../assets/hero/img-perfil.jpg" alt="img-perfil" />
        </div>
    </div>
    <div class="ScrollDown">
        <a href="#projects">
            <div class="ScrollLink">
                Desliza
                <img src="../../assets/hero/scroll-down.svg" alt="scroll-down" />
            </div>
        </a>
    </div>
</div>